@import "graph";

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin margin-bottom-regular {
  margin-bottom: 15px;
}

@mixin margin-bottom-small {
  margin-bottom: 5px;
}

.buttons-container {
  position: absolute;
  top: 0;
  right: 0;

  padding: 20px 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.legend-container {
  position: absolute;
  top: 45px;
  right: 0;

  padding: 0 20px 0 0;

  width: 200px;
  max-height: calc(100% - 50px);

  overflow: auto;
}

.legend-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  @include margin-bottom-small;

  &__colour {
    $colour-preview-size: 20px;

    min-width: $colour-preview-size;
    max-width: $colour-preview-size;
    min-height: $colour-preview-size;
    max-height: $colour-preview-size;

    margin-right: 10px;
  }

  &__title {

  }
}

